<div class=" text-center pt-5" style="height: 100vh;">
    <div class="container">
      <h1 class="display-1 pt-5 text-danger font-weight-bold">404</h1>
      <h1 class="display-4 text-warning pt-1 pb-3">El carrito no existe</h1>
      <a
        href="/"
        class="btn btn-success mt-3 pt-3 pb-3 pr-4 pl-4"
      >Regresar a la tienda</a>
    </div>
  </div>