{{> nav}}
{{> formsRealTime}}

<div class="row mt-4" id="list-products">
    <!--Se reciben los productos dinamicos-->
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>