<!--Filtro de ordenamiento de precio-->
<div class="d-flex align-items-center justify-content-between">
    <div class="mt-4 mb-4 d-flex align-items-center gap-1">
        <i class="bi bi-funnel text-warning me-2 fw-semibold "></i>
        <h5 class="text-warning">Filtrar Precio</h5>
        <div class="d-flex align-items-center">
            <a href="/?sort=-1" class="text-decoration-none text-success fs-4"><i
                    class="bi bi-arrow-up-short"></i></i></a>
            <a href="/?sort=1" class="text-decoration-none text-danger fs-4"><i class="bi bi-arrow-down-short"></i></a>
        </div>
    </div>

    <!--Filtro de limite de productos-->
    <div class="dropdown">
        <i class="bi bi-funnel text-warning fw-semibold me-2"></i>
        <a class="text-decoration-none text-warning fs-5 fw-semibold dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Cantidad de productos
        </a>

        <ul class="dropdown-menu drop__content">
            <li><a class="dropdown-item text-warning" href="/?limit=1">1 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=2">2 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=3">3 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=4">4 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=5">5 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=6">6 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=7">7 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=8">8 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=9">9 Producto por pagina</a></li>
            <li><a class="dropdown-item text-warning" href="/?limit=10">10 Producto por pagina</a></li>
        </ul>
    </div>
</div>